
header {
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

header h1 {
  font-size: 20px;
}

header section {
  text-align: center;
}

/* Star of FOOTER*/
footer{
	background-color: #C7C7C7;
	
}

/*div in the footer*/
.footerdiv, .divul{
	display: flex;
	justify-content: center;

}


h6{
	margin-left: 1em;
	text-align: center;
	margin-right: 1em;

}


/*images*/
.one, .two, .three, .four{
	height: 55px ;
	width: 55px;
} 




/*End of FOOTER*/